In [2]:
import numpy as np 
import pandas as pd

In [3]:
sf = pd.read_csv('stamford_dep_scores.csv')
nh = pd.read_csv('newhaven_dep_scores.csv')
hf = pd.read_csv('hartford_dep_scores.csv')

In [4]:
scores = list(sf['depressing_score'])+list(nh['depressing_score'])+list(hf['depressing_score'])
mean = np.mean(scores)
std = np.std(scores)
print('mean is: {}'.format(mean))
print('std is: {}'.format(std))

mean is: 24.992383705395774
std is: 0.18449110583925565

In [7]:
len(scores)

41148

In [8]:
sf_scores=[]
for score in sf['depressing_score']:
    if score < (mean-std):
        sf_scores.append(0) #not depressing
    elif score > (mean+std):
        sf_scores.append(1) #depressing
    else:
        sf_scores.append(2) #neutral
sf['score_labels']=sf_scores
sf.head(10)

    filename   latitude  longitude     date  depressing_score  score_labels
0  15251.jpg  41.059344 -73.550744  2015-12         24.998049             2
1   9181.jpg  41.086191 -73.522007  2015-12         24.881157             2
2   9380.jpg  41.105739 -73.586371  2015-11         25.000298             2
3   2755.jpg  41.095341 -73.551081  2015-12         25.017530             2
4   4602.jpg  41.108141 -73.531606  2018-09         25.117420             2
5    730.jpg  41.101387 -73.549360  2015-12         25.213581             1
6  15747.jpg  41.057664 -73.547812  2017-08         25.225914             1
7  18744.jpg  41.049042 -73.544672  2017-08         25.340778             1
8    571.jpg  41.105778 -73.546723  2015-12         24.950407             2
9  12225.jpg  41.069988 -73.535254  2008-09         25.056984             2

In [11]:
one,zero,two=0,0,0
for s in sf_scores:
    if s==1:
        one+=1
    elif s==0:
        zero+=1
    elif s==2:
        two+=1
print('no. of depressing: {}'.format(one))
print('no. of not depressing: {}'.format(zero))
print('no. of neutral: {}'.format(two))

no. of depressing: 2058
no. of not depressing: 2348
no. of neutral: 10176

In [12]:
nh_scores=[]
for score in nh['depressing_score']:
    if score < (mean-std):
        nh_scores.append(0) #not depressing
    elif score > (mean+std):
        nh_scores.append(1) #depressing
    else:
        nh_scores.append(2) #neutral
nh['score_labels']=nh_scores
nh.head(10)

    filename   latitude  longitude     date  depressing_score  score_labels
0   3372.jpg  41.313540 -72.944976  2018-06         24.782185             0
1  10112.jpg  41.319315 -72.891715  2017-08         25.156658             2
2   9380.jpg  41.315765 -72.967963  2015-08         25.377102             1
3   2755.jpg  41.304977 -72.932415  2018-07         24.720947             0
4   4602.jpg  41.318509 -72.912834  2017-07         24.897919             2
5    730.jpg  41.311214 -72.930591  2018-06         24.950420             2
6    571.jpg  41.315584 -72.928642  2018-07         24.973454             2
7  10129.jpg  41.312441 -72.891223  2018-06         24.891956             2
8   6668.jpg  41.303500 -72.908452  2017-08         25.026356             2
9    709.jpg  41.311437 -72.929424  2018-07         24.891193             2

In [13]:
one,zero,two=0,0,0
for s in nh_scores:
    if s==1:
        one+=1
    elif s==0:
        zero+=1
    elif s==2:
        two+=1
print('no. of nh depressing: {}'.format(one))
print('no. of nh not depressing: {}'.format(zero))
print('no. of nh neutral: {}'.format(two))

no. of nh depressing: 2347
no. of nh not depressing: 2353
no. of nh neutral: 10173

In [14]:
hf_scores=[]
for score in hf['depressing_score']:
    if score < (mean-std):
        hf_scores.append(0) #not depressing
    elif score > (mean+std):
        hf_scores.append(1) #depressing
    else:
        hf_scores.append(2) #neutral
hf['score_labels']=hf_scores
hf.head(10)

    filename   latitude  longitude     date  depressing_score  score_labels
0   3372.jpg  41.767587 -72.698546  2018-07         24.770277             0
1  10112.jpg  41.772587 -72.645035  2017-07         24.771639             0
2   9181.jpg  41.750182 -72.657056  2018-09         25.013426             2
3   9380.jpg  41.769742 -72.721771  2018-07         24.987961             2
4   4989.jpg  41.782407 -72.688245  2018-10         24.789822             0
5   2755.jpg  41.759276 -72.685760  2018-09         24.993973             2
6    730.jpg  41.765216 -72.683984  2018-09         24.501020             0
7    571.jpg  41.769787 -72.681929  2018-09         24.703428             0
8   8440.jpg  41.786004 -72.707112  2018-09         25.041670             2
9  10129.jpg  41.766294 -72.644504  2018-08         24.984215             2

In [15]:
one,zero,two=0,0,0
for s in hf_scores:
    if s==1:
        one+=1
    elif s==0:
        zero+=1
    elif s==2:
        two+=1
print('no. of hf depressing: {}'.format(one))
print('no. of hf not depressing: {}'.format(zero))
print('no. of hf neutral: {}'.format(two))

no. of hf depressing: 2058
no. of hf not depressing: 1740
no. of hf neutral: 7895

In [16]:
sf.to_csv('stamford_dep_score.csv',index=False)
nh.to_csv('newhaven_dep_score.csv',index=False)
hf.to_csv('hartford_dep_score.csv',index=False)